@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}

.text-sp {
    text-align: center;
    font-size: 24pt;
}

.product .row-1 .col-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .row-2 .col-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .row-1 .col-card-1 .body-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .row-1 .col-card-1 .body-btn button {
    margin: auto;
}

.product .row-2 .col-card-2 .body-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .row-2 .col-card-2 .body-btn button {
    margin: auto;
}

footer {
    background-color: oldlace;
    border-radius: 10px;
}

footer .row-foot-2 i {
    font-size: 30pt;
    padding: 5 5 5 5;
}

footer .row-foot-2 .ic-face {
    color: blue;
}

footer .row-foot-2 .ic-youtube {
    color: red;
}

footer .row-foot-2 .ic-ins {
    color: orangered;
}

footer .row-foot-2 .ic-lin {
    color: aliceblue;
    background: blue;
}